[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sanic-openapi = "*"
gitlint = "*"

[packages]
sanic = "*"
aiopeewee = "*"
peewee = "==2.9"

[requires]
python_version = "3.7"
